
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!-- Main content -->
<div class="content pb-20">


    <!-- Simple login form -->
    <form action="@Url.Action("PostForgotPassword","Auth")" class="login-form" method="post">
        <div class="panel panel-body">

            <div class="text-center">
                <div class="icon-object border-warning text-warning"><i class="icon-envelop2"></i></div>
                <h5 class="content-group">Password recovery <small class="display-block">We'll send you instructions in email</small></h5>
                <p style="color:@ViewBag.color ;">
                    @ViewBag.message
                </p>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-icon" type="button"><i class="icon-mention"></i></span>
                    </span>
                    <input type="email" class="form-control" placeholder="Your email" required name="Email">
                </div>
            </div>



            <div class="form-group">
                <button type="submit" class="btn bg-pink-400 btn-block">Send Mail <i class="icon-circle-right2 position-right"></i></button>
            </div>

            <div class="form-group">
                <a href="@Url.Action("Login","Auth")" class="btn btn-success btn-block"> <i class="icon-arrow-left13 position-left"></i> Back To Sign In</a>
            </div>


        </div>
    </form>
    <!-- /simple login form -->

</div>
<!-- /main content -->

